.static {
  width: 1280px;
  margin: 0px auto;
  overflow: hidden;
  background-color: var(--bg-color);
}
.alert {
  display: block;
  width: 300px;
  margin: 0px auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  z-index: 3;
  border-color: #badbcc;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
}
.alert-delete {
  color: #0f5132;
  background-color: #d1e7dd;
}
